function Main.main 1
push constant 0
push constant 0
push constant 1
call SnakeGame.new 3
pop local 0
push local 0
call SnakeGame.start 1
pop temp 0
push constant 0
return
function Main.printList 4
push argument 0
call List.getFirstNode 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call Node.data 1
pop local 1
push local 1
call Pos.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Node.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
