function Snake.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 0
push argument 0
call List.new 1
pop this 1
push pointer 0
return
function Snake.getLength 0
push argument 0
pop pointer 0
push this 1
call List.getSize 1
return
function Snake.getDirection 0
push argument 0
pop pointer 0
push this 0
return
function Snake.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Snake.drawHead 3
push argument 0
pop pointer 0
push this 1
call List.getFirstData 1
pop local 2
push local 2
call Pos.getX 1
pop local 0
push local 2
call Pos.getY 1
pop local 1
push constant 1
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 15
add
push local 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.eraseTail 3
push argument 0
pop pointer 0
push this 1
call List.popBack 1
pop local 2
push local 2
call Pos.getX 1
pop local 0
push local 2
call Pos.getY 1
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 15
add
push local 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.updateHead 3
push argument 0
pop pointer 0
push this 1
call List.getFirstData 1
pop local 2
push local 2
call Pos.getX 1
pop local 0
push local 2
call Pos.getY 1
pop local 1
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Pos.getY 1
push constant 16
sub
pop local 1
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
call Pos.getX 1
push constant 16
add
pop local 0
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
call Pos.getY 1
push constant 16
add
pop local 1
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
call Pos.getX 1
push constant 16
sub
pop local 0
label IF_FALSE3
push local 0
push local 1
call Pos.new 2
pop local 2
push this 1
push local 2
call List.pushFront 2
pop temp 0
push constant 0
return
function Snake.grow 0
push argument 0
pop pointer 0
push pointer 0
call Snake.updateHead 1
pop temp 0
push pointer 0
call Snake.drawHead 1
pop temp 0
push constant 0
return
function Snake.move 0
push argument 0
pop pointer 0
push pointer 0
call Snake.updateHead 1
pop temp 0
push pointer 0
call Snake.drawHead 1
pop temp 0
push pointer 0
call Snake.eraseTail 1
pop temp 0
push constant 0
return
function Snake.hitsItself 1
push argument 0
pop pointer 0
push this 1
call List.getFirstData 1
pop local 0
push this 1
push constant 1
push local 0
call List.contains 3
return
function Snake.isOutOfBounds 3
push argument 0
pop pointer 0
push this 1
call List.getFirstData 1
pop local 2
push local 2
call Pos.getX 1
pop local 0
push local 2
call Pos.getY 1
pop local 1
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 16
sub
pop local 1
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 16
add
pop local 0
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 16
add
pop local 1
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 16
sub
pop local 0
label IF_FALSE3
push local 0
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
return
label IF_FALSE4
push local 1
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
return
label IF_FALSE5
push local 0
push constant 497
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
return
label IF_FALSE6
push local 1
push constant 241
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
return
label IF_FALSE7
push constant 0
return
function Snake.getHeadPosition 0
push argument 0
pop pointer 0
push this 1
call List.getFirstData 1
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 1
call List.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
